<nav>
    <div class="nav-wrapper">
        <a href="{{ path('homepage') }}" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li><a href="{{ path('orgapero_user_profile') }}">My account</a></li>
                <li><a href="{{ path('logout') }}"><i class="material-icons">filter_drama</i></a></li>
            {% else %}
                <li><a href="{{ path('orgapero_user_login') }}">Connection</a></li>
                <li><a href="{{ path('orgapero_user_inscription') }}">Inscription</a></li>
            {% endif %}

        </ul>
        <ul id="slide-out" class="side-nav">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li>
                    <div class="userView">
                        <div class="background">
                            <img src="{{ asset('assets/img/temp_bg.jpg') }}">
                        </div>
                        <a href="{{ path('orgapero_user_profile') }}"><i class="large material-icons circle">face</i></a>
                        <a href="#!name"><span class="white-text name">{{ app.user.username }}</span></a>
                        <a href="#!email"><span class="white-text email">{{ app.user.email }}</span></a>
                    </div>
                </li>
            {% endif %}
            <li><a href="{{ path('orgapero_user_profile') }}#friends">My friends</a></li>
            <li><a href="{{ path('orgapero_user_profile') }}">My parties</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>