{% extends 'base.html.twig' %}
{% block title %} Account {% endblock %}
{% block body %}
    <div class="main">
        <div class="container">
            <div class="row">
                <h1>My Profile</h1>
                <div class="col m12 s10 offset-s1">
                    <ul class="collection with-header">
                        <li class="collection-item avatar green lighten-1"><h4 class="white-text">
                                Hello {{ app.user.username }},</h4></li>
                        <li class="collection-item avatar">
                            <img src="{{ asset('assets/img/dandy.png') }}" alt="avatar" class="circle">
                            <span class="title primary-text-color bold">My informations</span>
                            <p><span class="primary-text-color bold">Address:</span> {{ app.user.address }}
                                , {{ app.user.city }} {{ app.user.country }}<br>
                                <span class="primary-text-color bold">Email:</span> {{ app.user.email }}
                            </p>
                            <div class="secondary-content">
                                <a href="#!" title="Edit my informations"
                                   class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">mode_edit</i></a>
                                <a href="#!" title="Delete my account"
                                   class="btn-floating btn-large waves-effect waves-light red"><i
                                            class="material-icons">delete_forever</i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col m12 s10 offset-s1">
                    <ul id="friends" class="collection with-header">
                        <li class="collection-item avatar green lighten-1">
                            <h4 class="white-text">My Friends</h4>
                            <div class="secondary-content">
                                <a href="{{ path('orgapero_user_search_friend') }}" title="add a new friend"
                                   class="btn-floating btn-large waves-effect waves-light white"><i
                                            class="large material-icons secondary-text-color">person_add</i></a>
                            </div>
                        </li>
                        {{ dump(app.user) }}
                        {% if app.user.friendsWithMe is not empty %}
                            {% for friend in app.user.friends %}
                                <li class="collection-item avatar custom-avatar">
                                    <i class="material-icons circle">face</i>
                                    <span class="title">{{ friend.name }}</span>
                                    <a href="{{ path('orgapero_user_delete_friend', {'id': friend.id }) }}" title="Delete my friend"
                                       class="secondary-content btn-floating btn-large waves-effect waves-light "><i
                                                class="material-icons">delete_forever</i></a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="collection-item">
                                <p class="title">You don't have any friends, let's add some friends !</p>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
