{% extends 'base.html.twig' %}
{% block title %}Add new friend{% endblock %}
{% block body %}
    <div class="main">
        <div class="container">
            <div class="row">
                <h1>Find New friends</h1>
                <div class="col m12 s10 offset-s1">
                    {{ form(form) }}
                </div>
                {% if users is defined  and users is not empty %}
                    <div class="col m12 s10 offset-s1">
                        <ul class="collection with-header">
                            {% for user in users %}
                                <li class="collection-item avatar custom-avatar">
                                    <i class="material-icons circle">face</i>
                                    <span class="title">Username: {{ user.username }}</span>
                                    <p>Name: {{ user.name }} {{ user.firstname }}</p>
                                    <a href="{{ path('orgapero_user_add_friend', {'id': user.id }) }}" title="Delete my friend"
                                       class="secondary-content btn-floating btn-large waves-effect waves-light "><i
                                                class="material-icons">favorite</i></a>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}



